<head>
    <meta charset="ISO-8859-1" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="page-not-found.component.css">
</head>

<div class="Page404">
    <div class="container-fluid">
        <img id="PNFImg" src="https://erickson.edu/sites/default/files/404%20Error_0.png" alt="Page Not Found">
        <div class="container-fluid PNFPage">
            <div>We're Sorry!</div>
            <div>But this page is invalid</div>
            <div>Please select an option above to continue</div>
        </div>
    </div>
</div>