.PNFPage {
    text-align: center;
    padding: 5px;
    border: 1px solid gray;
    background-color: rgb(246, 246, 246);
    padding: 35px;
    position: sticky;
    margin-top: 50px;
    width: 600px;
    height: 160px;
    border-radius: 18px;
    font-size: x-large;
  }

  #PNFImg {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .Page404 {
    background-color: transparent;
    padding-top: 50px;
    padding-bottom: 90px;
  }

  @media screen and (max-width: 700px) {
      .PNFPage {
          width: auto;
          height: auto;
      }
  }