<head>
  <meta charset="ISO-8859-1" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.component.css">
</head>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <h2 id="title">Titan Wireless</h2>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink='/home' class="nav-link active" id="Home" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink='/devices-component' class="nav-link active" id="Devices" href="#">Manage Devices</a>
        </li>
        <li class="nav-item">
          <a routerLink='/plans-component' class="nav-link active" id="Plans" href="#">Manage Plans</a>
        </li>
        <li class="nav-item">
          <a routerLink='/bill' class="nav-link active" id="Bill" href="#">View Bill</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="box">
  <router-outlet></router-outlet>
</div>