<!-- 
    MAKE THE PLANS PAGE HAVE INTERACTABLE PLAN OPTIONS 
    CLICKING A PLAN WILL TAKE YOU TO A NEW PAGE WITH A FORM TO FILL OUT 
    WHEN THE USER CLICKS SUBMIT
        SEND DATA TO DATABASE
        SEND USER TO DEVICES OR VIEW BILL PAGE
        CLEAR FORM AND RESET PLANS PAGE
-->
<div class="initpage">
    <div class="container-fluid Plans">
        <div>
            <h1>Plan Tiers</h1>
        </div>
        <div class="row">
            <div class="column">
                <h2>Titan Single </h2>
                <h3>$75</h3>
                <h4>per line/month</h4>
                <div>
                    <ul>
                        <li>5G Nationwide Access</li>
                        <li>Unlimited talk+data</li>
                        <li>International Texting</li>
                    </ul>
                </div>

                <!-- Open Modal Form -->
                <div class="btn-text-center">
                    <button class="btn btn-dark" (click)="open(AddSingle)">
                        <i id="AddSingle" class="AddSingleClass"></i>
                        Add Plan
                    </button>
                </div>
                
                <ng-template #AddSingle let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Titan Single</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                            <label for="plan-number">Plan Number</label>
                                <div class="input-group">
                                    <input id="plaNumber" name="planNumber" class="form-control" ngModel required #planNumber="ngModel">
                                </div>
                            <label for="plan-number">Plan Cost</label>
                                <div class="input-group">
                                    <input id="planCost" name="planCost" class="form-control" ngModel required #planCost="ngModel">
                                </div>
                            <label for="deviceNumber">Device Number</label>
                                <div class="input-group">
                                    <input id="deviceNumber" name="deviceNumber" class="form-control" type="number" ngModel required #deviceNumber="ngModel">
                                </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="saveFormSingleDevice(f)">Save</button>
                    </div>
                </ng-template>

            </div>

            <div class="column">
                <h2>Titan Couple </h2>
                <h3>$60</h3>
                <h4>per line/month</h4>
                <div>
                    <ul>
                        <li>5G Nationwide Access</li>
                        <li>Unlimited talk+data</li>
                        <li>International Texting</li>
                    </ul>
                </div>

                <!-- Open Modal Form -->
                <div class="btn-text-center">
                    <button class="btn btn-dark" (click)="openC(AddCouple)">
                        <i id="AddCouple" class="AddCoupleClass"></i>
                        Add Plan
                    </button>
                </div>
                
                <ng-template #AddCouple let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Titan Couple</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                            <label for="plan-number">Plan Number</label>
                                <div class="input-group">
                                    <input id="plaNumber" name="planNumber" class="form-control" ngModel required #planNumber="ngModel">
                                </div>
                            <label for="plan-number">Plan Cost</label>
                                <div class="input-group">
                                    <input id="planCost" name="planCost" class="form-control" ngModel required #planCost="ngModel">
                                </div>
                            <label for="deviceNumber1">Device Number 1</label>
                                <div class="input-group">
                                    <input id="deviceNumber1" name="deviceNumber1" class="form-control" type="number" ngModel required #deviceNumber1="ngModel">
                                </div>
                            <label for="deviceNumber2">Device Number 2</label>
                                <div class="input-group">
                                    <input id="deviceNumber2" name="deviceNumber2" class="form-control" type="number" ngModel required #deviceNumber2="ngModel">
                                </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="saveFormTwoDevices(f)">Save</button>
                    </div>
                </ng-template>

            </div>

            <div class="column">
                <h2>Titan Family </h2>
                <h3>$45</h3>
                <h4>per line/month</h4>
                <div>
                    <ul>
                        <li>5G Nationwide Access</li>
                        <li>Unlimited talk+data</li>
                        <li>International Texting</li>
                    </ul>
                </div>

                <!-- Open Modal Form -->
                <div class="btn-text-center">
                    <button class="btn btn-dark" (click)="openF(AddFamily)">
                        <i id="AddFamily" class="AddFamilyClass"></i>
                        Add Plan
                    </button>
                </div>
                
                <ng-template #AddFamily let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Titan Family</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                            <label for="plan-number">Plan Number</label>
                            <div class="input-group">
                                <input id="plaNumber" name="planNumber" class="form-control" ngModel required #planNumber="ngModel">
                            </div>
                        <label for="plan-number">Plan Cost</label>
                            <div class="input-group">
                                <input id="planCost" name="planCost" class="form-control" ngModel required #planCost="ngModel">
                            </div>
                        <label for="deviceNumber1">Device Number 1</label>
                            <div class="input-group">
                                <input id="deviceNumber1" name="deviceNumber1" class="form-control" type="number" ngModel required #deviceNumber1="ngModel">
                            </div>
                        <label for="deviceNumber2">Device Number 2</label>
                            <div class="input-group">
                                <input id="deviceNumber2" name="deviceNumber2" class="form-control" type="number" ngModel required #deviceNumber2="ngModel">
                            </div>
                        <label for="deviceNumber3">Device Number 3</label>
                            <div class="input-group">
                                <input id="deviceNumber3" name="deviceNumber3" class="form-control" type="number" ngModel required #deviceNumber3="ngModel">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="saveFormThreeDevices(f)">Save</button>
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
</div>