<!-- 
    MAKE THE PLANS PAGE HAVE INTERACTABLE PLAN OPTIONS 
    CLICKING A PLAN WILL TAKE YOU TO A NEW PAGE WITH A FORM TO FILL OUT 
    WHEN THE USER CLICKS SUBMIT
        SEND DATA TO DATABASE
        SEND USER TO DEVICES OR VIEW BILL PAGE
        CLEAR FORM AND RESET PLANS PAGE
-->
<div class="initpage">
    <div class="container-fluid Plans">
        <div>
            <h1>Plan Tiers</h1>
        </div>
        <div class="row">
            <div class="column">
                <h2>Titan Single </h2>
                <h3>$75</h3>
                <h4>per month for a single line</h4>
                <div>
                    <ul>
                        <li>5G Nationwide Access</li>
                        <li>Unlimited talk+data</li>
                        <li>International Texting</li>
                    </ul>
                </div>

                <!-- Open Modal Form -->
                <div class="btn-text-center">
                    <button class="btn btn-dark" (click)="open(AddSingle)">
                        <i id="AddSingle" class="AddSingleClass"></i>
                        Add Plan
                    </button>
                </div>
                
                <ng-template #AddSingle let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Titan Single</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                            <div class="form-group">
                                <label for="plan-number">Plan 1</label>
                                <div class="input-group">
                                    <input id="plan-number" name="plan-number" class="form-control" value="1" [readonly]="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname">Device Number</label>
                                <div class="input-group">
                                    <input id="lastname" name="lastname" class="form-control" ngModel>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
                    </div>
                </ng-template>

            </div>

            <div class="column">
                <h2>Titan Couple </h2>
                <h3>$60</h3>
                <h4>per month for two lines</h4>
                <div>
                    <ul>
                        <li>5G Nationwide Access</li>
                        <li>Unlimited talk+data</li>
                        <li>International Texting</li>
                    </ul>
                </div>

                <!-- Open Modal Form -->
                <div class="btn-text-center">
                    <button class="btn btn-dark" (click)="openC(AddCouple)">
                        <i id="AddCouple" class="AddCoupleClass"></i>
                        Add Plan
                    </button>
                </div>
                
                <ng-template #AddCouple let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Titan Couple</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                            <div class="form-group">
                                <label for="firstname">Plan 2</label>
                                <div class="input-group">
                                    <input id="firstname" name="firstname" class="form-control" value="2" [readonly]="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname">Device Number 1</label>
                                <div class="input-group">
                                    <input id="lastname" name="lastname" class="form-control" ngModel>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname">Device Number 2</label>
                                <div class="input-group">
                                    <input id="lastname" name="lastname" class="form-control" ngModel>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
                    </div>
                </ng-template>

            </div>

            <div class="column">
                <h2>Titan Family </h2>
                <h3>$45</h3>
                <h4>per month for four lines</h4>
                <div>
                    <ul>
                        <li>5G Nationwide Access</li>
                        <li>Unlimited talk+data</li>
                        <li>International Texting</li>
                    </ul>
                </div>

                <!-- Open Modal Form -->
                <div class="btn-text-center">
                    <button class="btn btn-dark" (click)="openF(AddFamily)">
                        <i id="AddFamily" class="AddFamilyClass"></i>
                        Add Plan
                    </button>
                </div>
                
                <ng-template #AddFamily let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Titan Family</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                            <div class="form-group">
                                <label for="firstname">Plan 3</label>
                                <div class="input-group">
                                    <input id="firstname" name="firstname" class="form-control" value="3" [readonly]="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname">Device Number 1</label>
                                <div class="input-group">
                                    <input id="lastname" name="lastname" class="form-control" ngModel>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname">Device Number 2</label>
                                <div class="input-group">
                                    <input id="lastname" name="lastname" class="form-control" ngModel>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname">Device Number 3</label>
                                <div class="input-group">
                                    <input id="lastname" name="lastname" class="form-control" ngModel>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
</div>