<head>
    <meta charset="ISO-8859-1" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="home.component.css">
</head>

<div class="initpage">
    <div class="container-fluid WelcomePage">
        <div>Welcome (user)!</div>
        <div>Please select an option above to continue</div>
    </div>

    <div class="container-fluid Deals">
        <div>Deals For You</div>
        <div class="row">
            <div class="column">
                <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-13-pro-family-hero?wid=940&hei=1112&fmt=png-alpha&.v=1631220221000"
                    alt="iPhone 13 Pro">
                <p>NEW iPhone 13 Pro and Pro Max</p>
            </div>
            <div class="column">
                <img src="https://cdn.tmobile.com/content/dam/t-mobile/en-p/cell-phones/Google/Google-Pixel-6-Pro/Stormy-Black/Google-Pixel-6-Pro-Stormy-Black-frontimage.png"
                    alt="Google Pixel 6 Pro">
                <p>NEW Google Pixel 6 Pro</p>
            </div>
            <div class="column">
                <img src="https://images.samsung.com/is/image/samsung/p6pim/levant/galaxy-s21/gallery/levant-galaxy-s21-ultra-5g-g988-371058-sm-g998bzsgmea-368334319?$720_576_PNG$"
                    alt="NEW Samsung Galaxy S21 Ultra 5G">
                <p>NEW Samsung Galaxy S21 Ultra 5G</p>
            </div>
        </div>
    </div>
</div>