.initpage {
  background-color: transparent;
  padding-top: 50px;
  padding-bottom: 100px;
}

.WelcomePage {
  text-align: center;
  border: 1px solid gray;
  background-color: rgb(246, 246, 246);
  padding: 35px;
  position: sticky;
  width: 600px;
  height: 160px;
  border-radius: 18px;
  font-size: x-large;
}

.Deals {
  border: 1px solid gray;
  background-color: rgb(246, 246, 246);
  padding: 35px;
  position: relative;
  margin-top: 50px;
  width: 800px;
  height: 450px;
  border-radius: 18px;
  font-size: x-large;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  margin-top: 10px;
  height: 300px;
}

.column p {
  text-align: center;
  width: 90%;
}

.column img {
  float: left;
  width: 90%;
  height: 95%;
  object-fit: cover;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .column {
    width: 550px;
    height: 200px;
  }

  .column img {
    width: 30%;
    height: 185px;
  }

  .column p {
    width: auto;
    font-size: 100%;
    right: 500px;
    margin-top: 80px;
  }

  .Deals {
    width: auto;
    height: auto;
  }

  .WelcomePage {
    width: auto;
  }
}
